
.button1 {border:0;background:transparent url("/assets/images/crystal1.png") no-repeat 0 0;}
.button1:hover {background:transparent url("/assets/images/crystal1.png") no-repeat 0 0;}


.button2 {border:0;background:transparent url("/assets/images/crystal2.png") no-repeat 0 0;}
.button2:hover {background:transparent url("/assets/images/crystal2.png") no-repeat 0 0;}
